{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method='POST' action="">
        <!-- Empty action will POSt info to same route from which request was initiated-->
        {{ form.hidden_tag() }}
        <formset class='form-group'>
            <legend class="border-bottom mb-4">
                "Join Today!"
            </legend>
            <!-- Username-->
            <div class="form-group">
                {{ form.username.label(class = "form-control-label")}}
                {{ form.username(class = "form-control form-control-lg")}}
            </div>
            <!-- Email-->
            <div class="form-group">
                {{ form.email.label(class = "form-control-label")}}
                {{ form.email(class = "form-control form-control-lg")}}
            </div>
            <!-- Password-->
            <div class="form-group">
                {{ form.password.label(class = "form-control-label")}}
                {{ form.password(class = "form-control form-control-lg")}}
            </div>
            <!-- Confirm Password-->
            <div class="form-group">
                {{ form.confirm_password.label(class = "form-control-label")}}
                {{ form.confirm_password(class = "form-control form-control-lg")}}
            </div>
        </formset>
        <!-- SUbmit-->
        <div class="form-group">
            {{ form.submit(class= "btn btn-outline-info") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have an Account? <a class="ml-2" href="{{url_for('login')}}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}